#pagination {
    display: flex; /* Display pagination buttons horizontally */
    align-items: center; /* Align items vertically */
}

.page {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #000;
}

#prev-page, #next-page {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #000;
}
table {
    border-collapse: collapse;
    width: 100%;
}

/*table th,*/
table td {
    border: 1px solid #ddd;
    padding: 0.5em;
}

table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    border: 1px solid #ddd;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: dodgerblue;
    color: black;
}
table tr:first-child th { /* Target the first row header cells */
    background-color: dodgerblue; /* Your previous style */
    color: black;
}